#gameSelectorContainer {
  width: 500px;
  height: 250px;
  margin: 70px auto;
  background-color: #dbe2ef;
  border: 2px solid #3f72af;
  border-radius: 5px;
  box-sizing: border-box;
}

#nameContainer {
  margin-top: 30px;
  width: 100%;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
}

#nameText {
  font-family: 'Verdana', Arial;
  font-size: 40px;
  display:inline-block
}

#nameInput {
  color: #112d4e;
  text-align: center;
  font-size: 30px;
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #3f72af;
}

#nameInput::placeholder {
  font-style: italic ;
}

#nameInput:focus::placeholder {
  color: transparent;
}

#nameInput:focus {
  outline: none;
}

#newGameContainer {
  text-align: center;
  box-sizing: border-box;
  height: 50px;
}

#newGameButton {
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: #3f72af;
  width: 300px;
  height: 40px;
  cursor:pointer;
  font-family:Arial;
  text-decoration:none;
  margin-bottom: 0;
}

#newGameButton:hover {
  background-color:#5486c1;
}
#newGameButton:active {
  position:relative;
  top:1px;
}

#joinGameContainer {
  text-align: center;
  box-sizing: border-box;
  height: 100px;
}

#gameIDInput {
  color: #112d4e;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #3f72af;
  font-family: Arial;
  font-size: 20px;
  margin-top: 0;
  padding: 0;
  width: 100px;
  margin-right: -5px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#gameIDInput::placeholder {
  font-style: italic;
}

#gameIDInput:focus::placeholder {
  color: transparent;
}

#gameIDInput:focus {
  outline: none;
}

#joinGameButton {
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: #3f72af;
  width: 200px;
  height: 40px;
  cursor:pointer;
  font-family:Arial;
  text-decoration:none;
}

#joinGameButton:hover {
  background-color:#5486c1;
}

#joinGameButton:active {
  position:relative;
  top:1px;
}
