<app-header></app-header>

<div id="gameSelectorContainer" (keyup.enter)="enterPressed()">
  <div id="nameContainer">
    <input id="nameInput" type="text" name="name" [(ngModel)]="name" placeholder="Namen eingeben...">
  </div>
  <div id="newGameContainer">
    <button id="newGameButton" (click)="createGame()">
      Neues Spiel erstellen
    </button>
  </div>
  <div id="joinGameContainer">
    <input id="gameIDInput" type="text" name="gameId" [(ngModel)]="gameId" placeholder="Spiel-ID" maxlength="5">
    <button id="joinGameButton" (click)="joinGame()">Spiel beitreten</button>
  </div>
</div>
