<app-header></app-header>

<div id="diceContainer" *ngIf="game && !game.ended">
  <span *ngFor="let dice of game.dices">
    <app-dice [dice]="dice" [game]="game" [player]="player"></app-dice>
  </span>
</div>

<div id="buttonContainer" *ngIf="!game.ended">
  <p>{{ game.players[game.playerTurn].name }} ist am Zug!</p>
  <p>Verbleibende Würfe: {{ game.rollCount }}</p>
  <button id="rollDiceButton" (click)="rollDices()" [ngClass]="{ 'greyOut': game.rollCount === 0 || game.playerTurn !== player.id }">Würfeln</button>
</div>

<div id="gameEndContainer" *ngIf="game.ended">
  <p> {{ winner.name }} hat das Spiel gewonnen!</p>
  <button id="backToLobbyButton" (click)="backToLobby()" [ngClass]="{ 'greyOut': !player.host }">Zurück zur Lobby</button>
</div>

<div id="gameTableContainer">
  <app-table-definition-column></app-table-definition-column>
  <ng-container *ngFor="let columnPlayer of players">
    <app-table-player-column [columnPlayer]="columnPlayer" [player]="player" [game]="game"></app-table-player-column>
  </ng-container>
</div>

