/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "~normalize.css";

:root {
  --color-dark-blue: #3f72af;
  --color-dark-blue-hover: #5389cc;
  --color-gray: #112d4e;
  --color-gold: #ffd700;
  --color-silver: #c0c0c0;
  --color-bronze: #cc8e34;
}

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: var(--color-gray);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.dark-blue-btn {
  background-color: var(--color-dark-blue);
  border-radius: 5%;
  border: none;
  color: white;
}

.dark-blue-btn:hover {
  background-color: var(--color-dark-blue-hover);
}
