#playerListContainer {
  background-color: white;
  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 2px solid #3f72af;
  height: 40px;

  p {
    color: #112d4e;
    font-size: 30px;
    font-family: Helvetica;
    margin: 0;
  }
}

.playerNameText {
}
