.join-game-wrapper {
  margin-top: 20px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid var(--color-dark-blue);
  border-radius: 5px;

  .join-game-header {
    margin: 10px 0 10px 0;
    font-size: 1.4rem;
  }

  .name-container,
  .game-id-container {
    display: flex;
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: 140px 260px;
    grid-gap: 15px 10px;
    padding-top: 10px;

    label {
      font-size: 1.3rem;
      text-align: right;
    }

    input {
      width: 200px;
      text-align: center;
      border: none;
      border-bottom: 1px solid black;
    }
  }

  .join-game-btn {
    position: absolute;
    bottom: 10px;
    background-color: var(--color-dark-blue);
    border: none;
    width: 120px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5%;
    color: white;
  }
}
