<div id="tableContainer">
  <div class="normalText">

  </div>
  <div class="normalText">
    Einer
  </div>
  <div class="normalText">
    Zweier
  </div>
  <div class="normalText">
    Dreier
  </div>
  <div class="normalText">
    Vierer
  </div>
  <div class="normalText">
    Fünfer
  </div>
  <div class="normalText">
    Sechser
  </div>
  <div class="boldText">
    Summe oben
  </div>
  <div class="boldText">
    Bonus
  </div>
  <div class="boldText">
    Gesamter oberer Teil
  </div>
  <div class="normalText">
    Dreierpasch
  </div>
  <div class="normalText">
    Viererpasch
  </div>
  <div class="normalText">
    Full House
  </div>
  <div class="normalText">
    Kleine Straße
  </div>
  <div class="normalText">
    Große Straße
  </div>
  <div class="normalText">
    Kniffel
  </div>
  <div class="normalText">
    Chance
  </div>
  <div class="boldText">
    Summe unten
  </div>
  <div class="boldText">
    Summe oben
  </div>
  <div class="extraBoldText">
    Gesamtsumme
  </div>
</div>
