<app-header></app-header>

<div id="lobbyContainer">
  <div id="gameIDContainer">
    <p title="Link für Spielbeitritt kopieren" id="gameIDText" *ngIf="game">Game #{{ game.id }}</p>
  </div>
  <div id="playerContainer">
    <div id="playerContainerHeader">
      <p>Spieler</p>
      <button [disabled]="!player.host" (click)="startGame()">Spiel starten</button>
    </div>
  </div>
  <div *ngFor="let player of players">
    <app-player-list *ngIf="player.connected" [player]="player"></app-player-list>
  </div>
<!--  <app-player-list *ngFor="let player of players" [player]="player"></app-player-list>-->
</div>

<!--<div id="lobbyContainer">-->
<!--  <div id="gameIDContainer">-->
<!--    <p title="Link für Spielbeitritt kopieren" id="gameIDText"></p>-->
<!--  </div>-->
<!--  <div id="playerContainer">-->
<!--    <div id="playerContainerHeader">-->
<!--      <p id="playerText">Spieler</p>-->
<!--      <button id="startGameButton">Spiel starten</button>-->
<!--    </div>-->
<!--    <div id="playersContainer">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngFor="let player of players">-->
<!--  <p>{{ player.name }}</p>-->
<!--</div>-->
