.dice {
  border: 2px solid black;
  position: relative;
  box-sizing: border-box;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

.blackBorder {
  border: 2px solid black;
}

.redBorder {
  border: 2px solid red;
}

.greyOut {
  opacity: 0.2;
}

.notAllowed {
  cursor: not-allowed;
}

.diceImages {
  max-width: 46px;
  max-height: 46px;
}
